<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drawable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".zi"></activity>
        <activity android:name=".sr" />
        <activity android:name=".sk" />
        <activity android:name=".ma" />
        <activity android:name=".ah" />
        <activity android:name=".ekattorerdinguli" />
        <activity android:name=".ji" />
        <activity android:name=".who" />
        <activity android:name=".what" />
        <activity android:name=".inferno" />
        <activity android:name=".origin" />
        <activity android:name=".thelostsymbol" />
        <activity android:name=".davincicode" />
        <activity android:name=".angleanddemons" />
        <activity android:name=".db" />
        <activity android:name=".dhongsPahar" />
        <activity android:name=".agnipurus" />
        <activity android:name=".okhondoOboshor" />
        <activity android:name=".ha" />
        <activity android:name=".mr" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>